body {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 28rem;

  @media (min-width: 38em) {
    max-width: 32rem;
  }

  @media (min-width: 56em) {
    max-width: 42rem;
  }
}


