---
---
html {
  font-family: "Helvetica Neue Light", Helvetica, Arial, "Hiragino Sans GB", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: rgb(142, 142, 214);
}
a:hover,
a:focus {
    text-decoration: underline;
}

#layout {
  padding-left: 200px;
  position: relative;
}

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  margin-left: -200px;
  background: rgb(24, 33, 61);
  color: #fff;
}

#sidebar nav {
  margin: 50% 2em 0;
  text-align: left;
}

.brand-title,
.brand-tagline {
  margin: 1em 0;
}

.brand-title {
  text-transform: uppercase;
}
.brand-tagline {
  font-weight: 300;
  color: rgb(142, 142, 214);
}

#sidebar a {
  color: #FFF;
  margin-left: 0.5em;
  text-decoration: none;
}


#sidebar .pure-menu {
  Background: rgb(24, 33, 61);
  border: medium none;
}

#sidebar .pure-menu a:hover, #sidebar a:focus {
  background: none repeat scroll 0 0 #373C5A;
}

#sidebar .pure-menu-heading {
  border-bottom: medium none;
}

#sidebar .pure-menu-heading a {
  padding: 0;
  color: #4B7197;
  font-size: 110%;
}

.tag-badge {
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 15px;
    margin-right: 0.5em;
    width: 15px;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  width: 70%;
  padding: 2em 3em 0;
  margin: 0 auto 50px;
}

.post {
  padding-bottom: 2em;
}

.post-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}

.post-title a {
  color: black;
  text-decoration: none;
}

.post-content {
  color: #444;
  line-height: 1.5em;
  margin-top: 2em;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-tag {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
}

.footer {
  text-align: center;
  padding: 1em 0;
}
.footer a {
  color: #ccc;
  font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

blockquote {
    border-left: 5px solid #DDDDDD;
    color: #666666;
    font-family: Georgia, "Times New Roman", "Hiragino Mincho", Kai, serif;
    line-height: 1.8em;
    padding-left: 1.5em;
}

@media (max-width: 767px) {
  #sidebar {
    display: none;
  }

  #layout {
    padding: 0;
  }
}

@media (max-width: 1280px) {
  .content {
    width: auto;
  }
}

pre {
  padding: 0 10px;
}

code {
  font-family: Menlo,Monaco,"Lucida Console", Consolas, "Andale Mono", "Courier New", monospace;
  font-size: 12px;
  font-weight: bold;
  background: none;
  border: none;
}

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f0f0f0; }
.highlight .c { color: #60a0b0; font-style: italic }
.highlight .err { border: 1px solid #FF0000 }
.highlight .k { color: #007020; font-weight: bold }
.highlight .o { color: #666666 }
.highlight .cm { color: #60a0b0; font-style: italic }
.highlight .cp { color: #007020 }
.highlight .c1 { color: #60a0b0; font-style: italic }
.highlight .cs { color: #60a0b0; background-color: #fff0f0 }
.highlight .gd { color: #A00000 }
.highlight .ge { font-style: italic }
.highlight .gr { color: #FF0000 }
.highlight .gh { color: #000080; font-weight: bold }
.highlight .gi { color: #00A000 }
.highlight .go { color: #808080 }
.highlight .gp { color: #c65d09; font-weight: bold }
.highlight .gs { font-weight: bold }
.highlight .gu { color: #800080; font-weight: bold }
.highlight .gt { color: #0040D0 }
.highlight .kc { color: #007020; font-weight: bold }
.highlight .kd { color: #007020; font-weight: bold }
.highlight .kn { color: #007020; font-weight: bold }
.highlight .kp { color: #007020 }
.highlight .kr { color: #007020; font-weight: bold }
.highlight .kt { color: #902000 }
.highlight .m { color: #40a070 }
.highlight .s { color: #4070a0 }
.highlight .na { color: #4070a0 }
.highlight .nb { color: #007020 }
.highlight .nc { color: #0e84b5; font-weight: bold }
.highlight .no { color: #60add5 }
.highlight .nd { color: #555555; font-weight: bold }
.highlight .ni { color: #d55537; font-weight: bold }
.highlight .ne { color: #007020 }
.highlight .nf { color: #06287e }
.highlight .nl { color: #002070; font-weight: bold }
.highlight .nn { color: #0e84b5; font-weight: bold }
.highlight .nt { color: #062873; font-weight: bold }
.highlight .nv { color: #bb60d5 }
.highlight .ow { color: #007020; font-weight: bold }
.highlight .w { color: #bbbbbb }
.highlight .mf { color: #40a070 }
.highlight .mh { color: #40a070 }
.highlight .mi { color: #40a070 }
.highlight .mo { color: #40a070 }
.highlight .sb { color: #4070a0 }
.highlight .sc { color: #4070a0 }
.highlight .sd { color: #4070a0; font-style: italic }
.highlight .s2 { color: #4070a0 }
.highlight .se { color: #4070a0; font-weight: bold }
.highlight .sh { color: #4070a0 }
.highlight .si { color: #70a0d0; font-style: italic }
.highlight .sx { color: #c65d09 }
.highlight .sr { color: #235388 }
.highlight .s1 { color: #4070a0 }
.highlight .ss { color: #517918 }
.highlight .bp { color: #007020 }
.highlight .vc { color: #bb60d5 }
.highlight .vg { color: #bb60d5 }
.highlight .vi { color: #bb60d5 }
.highlight .il { color: #40a070 }

{% for tagged_posts in site.tags %}
  {% assign tag = tagged_posts[0] %}
  {% include tagid.html %}

  .{{ tagid }} {
    background: {% cycle "#5aba59", "#8156a7", "#df2d4f", "#F38630", "#4d85d1", "#41ccb4" %};
  }
{% endfor %}

.tag-year{
  background: #FFC94C;
}
