---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
  </div>
  {% endfor %}
</div>

{% include pagination.html %}
<footer>
  &copy; {{ site.time | date: '%Y' }} Jianwei Han.
  <span class="fo">
    <a href="{{ site.github.repository_url }}">&#xf121;</a>
    <a href="{{ site.github.owner_url }}">&#xf113;</a>
    <a href="https://twitter.com/hanjianwei">&#xf099;</a>
    <a href="mailto:blog@hanjianwei.com">&#xf0e0;</a>
  </span>
</footer>
