footer {
  font-size: 0.8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: $footer-color;

  a {
    margin-left: 0.5rem;
    color: inherit;
    &:hover,
    &:focus {
      color: $footer-link-hover-color;
      text-decoration: none;
    }
  }

  svg {
      width: .8rem;
      height: .8rem;
      fill: currentColor;
      top: .15rem;
      position: relative;
  }
}
