footer {
  font-size: 0.8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #c0c0c0;

  a {
    margin-left: 0.5rem;
    color: inherit;
    &:hover,
    &:focus {
      color: #505050;
      text-decoration: none;
    }
  }

  svg {
      width: 0.8rem;
      height: 0.8rem;
      fill: currentColor;
      top: 0.15rem;
      position: relative;
  }
}
