footer {
  font-size: 0.8rem;
  padding: 2rem 0;
  color: $footer-color;

  a {
    margin: 0 0.2rem;
    color: inherit;
    &:hover,
    &:focus {
      color: $footer-link-hover-color;
      text-decoration: none;
    }
  }

  svg {
      width: .8rem;
      height: .8rem;
      fill: currentColor;
      top: .15rem;
      position: relative;
  }
}
