.post, .posts {
    article, .comments {
        @extend %main;
    }
}

.posts {
    a {
        color: inherit;
        text-decoration: none;
    }

    article p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
}

.post a {
    color: $post-link-color;
}
