.post, .posts {
    article, .comments {
        background-color: #fff;
        padding: 1rem 1rem;
        margin-top: 1rem;
    }

    article time {
        color: #9a9a9a;
    }
}

.posts {
    a {
        color: #505050;
        text-decoration: none;
    }

    article p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    .pagination {
        a, span {
            padding-right: 0.5rem;
        }
    }
}

.post a {
    color: #268bd2;
}
