.tags {
  display: flex;
  flex-wrap: wrap;

  .tag {
    background-color: $main-bg;
    padding: 0.3rem 0.7rem;
    margin-right: 0.3rem;
    &:last-of-type {
      margin-right: 0;
    }

    a {
      color: $tag-link-color;
      text-decoration: none;
    }
    .tag-count {
      color: $tag-count-color;
    }
  }
}

.tag-terms {
  @extend %post-list;
}
