html {
  line-height: 1.8;
  font-family: $font-sans-serif;
  font-size: 16px;
  @media (min-width: 38em) {
    font-size: 18px;
  }
  @media (min-width: 56em) {
    font-size: 20px;
  }
}

body {
  background-color: $body-bg;
  overflow-y: scroll;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

time {
  color: $time-color;
}