html {
  font-size: 16px;
  line-height: 1.8;
  background-color: #ebebeb
}
@media (min-width: 38em) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 56em) {
  html {
    font-size: 20px;
  }
}

h1, h2, h3 {
  font-weight: 500;
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
