<nav>
  <hgroup>
    <h1 class="brand-title"><a href="/">{{ site.title }}</a></h1>
    <h2 class="brand-tagline">技术 生活</h2>
  </hgroup>

  <div class="pure-menu pure-menu-open">
      <ul>
        <li class="pure-menu-heading"><a href="/tags">Tags</a>
          {% for tagged_posts in site.tags %}
            {% assign tag = tagged_posts[0] %}
            {% include tagid.html %}
            <li><a href="/tags/#{{ tagid }}"><span class="tag-badge {{ tagid }}"></span>{{ tag }}</a>
          {% endfor %}
        <li class="pure-menu-heading"><a href="/archives">Archives</a>
          {% assign year = "" %}
          {% for post in site.posts %}
            {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
            {% unless year == this_year %}
              {% assign year = this_year %}
              <li><a href="/archives/#{{ year }}"><span class="tag-badge tag-year"></span>{{ year }}</a>
            {% endunless %}
          {% endfor %}
      </ul>
  </div>
</nav>
