<ul class="pure-paginator">
  {% if paginator.previous_page == null or paginator.previous_page == 1 %}
    <li><a class="pure-button prev" href="/">&#171;</a>
  {% else %}
    <li><a class="pure-button prev" href="/page{{ paginator.previous_page }}"></a>
  {% endif %}

  {% for i in (1..paginator.total_pages) %}
    {% if i == paginator.page %}
      <li><a class="pure-button pure-button-active" href="{{ page.url }}">{{ i }}
    {% else %}
      {% if i == 1 %}
        <li><a class="pure-button" href="/">{{ i }}
      {% else %}
        <li><a class="pure-button" href="/page{{ i }}">{{ i }}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li><a class="pure-button next" href="/page{{ paginator.next_page }}">&#187;</a>
  {% else %}
    <li><a class="pure-button next" href="{{ page.url }}">&#187;</a>
  {% endif %}
</ul>
