{% include postlink.html %}

<article class="post">
  <header class="post-header">
    {% if page == post %}
      <h1 class="post-title">{{ post.title }}</h1>
    {% else %}
      <h2 class="post-title"><a href="{{ post_link }}">{{ post.title }}</a></h2>
    {% endif %}
    <div class="post-meta">
      <time datetime="{{ page.date }}" class="post-author">
        {{ post.date | date_to_string }}
      </time>
      {% for tag in post.tags %}
        {% include tagid.html %}
        <a href="/tags/#{{ tagid }}" class="post-tag {{tagid}}">{{ tag }}</a>
      {% endfor %}
    </div>
  </header>
  <div class="post-content">
    {% if page == post %}
      {{ content }}
    {% else %}
        {{ post.excerpt }}
    {% endif %}
  </div>
</article>

