<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><a class="home" href="/">Home</a>
        <li><a class="archives" href="/archives">Archives</a>
        <li><a class="tags" href="/tags">Tags</a>
        <li><a class="docs" href="/docs">Documents</a>
        <li><a class="rss" href="/atom.xml">Feed</a>
      </ul>
      <ul class="nav pull-right">
        <li><a class="github" href="https://github.com/hanjianwei"></a>
      </ul>
    </div>
  </div>
</div>
