body {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  max-width: 28rem;
}
@media (min-width: 38em) {
  .container {
    max-width: 32rem;
  }
}
@media (min-width: 56em) {
  .container {
    max-width: 42rem;
  }
}

header nav {
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;

    li {
      list-style: none;
      padding: 1.5rem 1rem;

      &.brand {
        margin-right: auto;
      }
    }
  }
}

@media (max-width: 56em) {
  header nav {
    ul {
      justify-content: flex-start;
    }
    .brand {
      display: none;
    }
  }
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
