html {
  font-size: 16px;
  line-height: 1.8;
}
@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}

h1, h2, h3 {
  font-weight: 500;
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

a {
  color: #268bd2;
  text-decoration: none;

  strong {
    color: inherit;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

header nav, h1, h2, h3 {
  a {
    color: #505050;
  }
  small {
    color: #c0c0c0;
  }
}

main article time {
  color: #9a9a9a;
}

main .archive {
  span.time {
    text-transform: uppercase;
    color: #9a9a9a;
    margin-right: 1rem;
  }
}

footer {
  color: #c0c0c0;
  a {
    margin-left: 0.5rem;
    color: inherit;
    &:hover,
    &:focus {
      color: #505050;
      text-decoration: none;
    }
  }
}
