html {
  font-size: 16px;
}

a {
  color: #268bd2;
  text-decoration: none;

  strong {
    color: inherit;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

header nav, h1, h2, h3 {
  a {
    color: #505050;
  }
  small {
    color: #c0c0c0;
  }
}

footer {
  color: #c0c0c0;
  a {
    margin-left: 0.5rem;
    color: inherit;
    &:hover,
    &:focus {
      color: #505050;
      text-decoration: none;
    }
  }
}

