html {
  font-size: 16px;
  line-height: 1.8;
  background-color: #ebebeb
}
@media (min-width: 38em) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 56em) {
  html {
    font-size: 20px;
  }
}

h1, h2, h3 {
  font-weight: 500;
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

a {
  color: #268bd2;
  text-decoration: none;

  strong {
    color: inherit;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

header nav {
    font-size: 1rem;
    font-weight: bold;
    background-color: #24292e;
    a {
        color: #fff;
    }
}

h1, h2, h3 {
  a {
    color: #505050;
  }
}

main article time {
  color: #9a9a9a;
}

article, aside.comments {
    background-color: #fff;
    padding: 1rem 1rem;
    margin-top: 1rem;
}

footer {
  font-size: 0.8rem;
  color: #c0c0c0;
  a {
    margin-left: 0.5rem;
    color: inherit;
    &:hover,
    &:focus {
      color: #505050;
      text-decoration: none;
    }
  }
  svg {
      width: 0.8rem;
      height: 0.8rem;
      fill: currentColor;
      top: 0.15rem;
      position: relative;
  }
}

.highlight pre {
  white-space: pre;
  overflow: auto;
  font-size: 0.8rem;
}
