<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}

  <body>
    <div class="container">
      <header>
        <nav>
          <ul>
            <li class="brand"><a href="/"><img src="/badge.png">M-x <small>butterfly</small></a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a href="/feed.xml">Feed</a></li>
          </ul>
        </nav>
      </header>

      <main>
      <div>
        {{ content }}
      </div>
      </main>

      <footer>
        Copyright @2015
      </footer>
    </div>
  </body>
</html>
