<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}

  <body>
    <div class="container">
      <header>
        <nav>
          <ul>
            <li class="brand"><a href="/"><img src="/badge.png" alt="Site logo">{{ site.name }}</a> <small>{{ site.tagline }}</small></li>
            <li><a href="/">Home</a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a href="/feed.xml">Feed</a></li>
          </ul>
        </nav>
      </header>

      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
